@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="../../content/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Информация</title>
</head>
<body>
    <div class="content">
        <div class="intrigue">
            <form action="/Home/Info" method="get">
                <h3>Укажите steamID</h3>
                <input placeholder='Введите steamID' id="steamIDS" name="steamIDS" type="text" value="">
                <input placeholder='Отправить' type='submit'>
            </form>
        </div>
        <div class="avatar">
            <table>
                <tr class="row">
                    <td class="cell"><img src="@ViewBag.avatarFull" /></td>
            </table>
        </div>
        <div class="info-ban">
            <h3>Информация о банах</h3>
            <table>
                <tr class="row">
                    <th class="nyr">Vac-бан</th>
                    <td class="cell">@ViewBag.vacBanned</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Treda-бан</th>
                    <td class="cell">@ViewBag.tradeBanState</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Ограничения</th>
                    <td class="cell">@ViewBag.isLimitedAccount</td>
                </tr>
            </table>
        </div>
        <div class="info-profile">
            <h3>Информация о пользователи</h3>
            <table>
                <tr class="row">
                    <th class="nyr">Ид</th>
                    <td class="cell">@ViewBag.steamID64</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Ник</th>
                    <td class="cell">@ViewBag.steamID</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Статус</th>
                    <td class="cell">@ViewBag.onlineState</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Когда был в сети</th>
                    <td class="cell">@ViewBag.stateMessage</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Достутность</th>
                    <td class="cell">@ViewBag.privacyState</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Дата регистрации</th>
                    <td class="cell">@ViewBag.memberSince</td>
                </tr>
                <tr class="row">
                    <th class="nyr">Проживание</th>
                    <td class="cell">@ViewBag.location</td>
                </tr>
            </table>
            <div class="statys">
                <h3>Статус</h3>
                <table>
                    <tr class="row">
                        <td class="cell">@Html.Raw(ViewBag.summary)</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>